*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-image: url('../assets/images/background/profile-background.png');
    background-repeat: no-repeat;
    background-size: cover;

    font-family: 'Sen', Cambria, Cochin, Georgia, serif;
    letter-spacing: 0.5px;

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
}

.navbar-container{
    background-color: rgba(255, 255, 255, 0.50);

    width: 100%;
    height: 60px;
}

.top-text{
    margin: 0 auto;
    text-align: center;
    opacity: 1;
}

main{
    margin-top: 30px;
}

.content{
    background-color: rgba(255, 255, 255, 0.50);

    margin: 0 70px 112px;
    padding: 50px;

    border-radius: 30px;
}

.profile{
    text-align: center;
}

.profile img{
    border-radius: 50%;
}

.about-me p{
    text-align: justify;
}

.profile-detail{
    text-align: justify;
}

.contact{
    text-align: center;
}

.contact img{
    margin: 30px;

    cursor: pointer;
    transition: all .60s ease-in;
}

.contact img:hover{
    width: 80px;
    height: 80px;
}

.contact a{
    text-decoration: none;
}

.contact button{
font-family: 'Sen', Cambria, Cochin, Georgia, serif;
    font-size: 18px;
    color: black;

    padding: 5px 10px;
    margin: 15px 20px;

    border-color: white;
    border-radius: 30px;
    background-color: white;
    cursor: pointer;
    transition: all .30s ease-in;
}

.contact button:hover{
    color: white;
    font-weight: bold;
    background-color: #87B1FF;
}

.contact button:active{
    color: black;
    font-weight: bold;
    background-color: #E4F4FF;
    text-decoration: underline;
}